# Puerto del servidor
PORT=4000

# URL del frontend (Angular)
FRONTEND_URL=http://localhost:4200

# Base de datos MySQL
DB_HOST=auth-db1026.hstgr.io
DB_USER=u739395885_ltxuser
DB_PASSWORD=wkxbUauQuKRNI5G.07
DB_NAME=u739395885_realestates
DB_PORT=3306

# JWT Secret (cambiar por una clave segura en producción)
JWT_SECRET=4f2b8a7d3a9b6c2e9f0c8a17d4aefb6a0d8f9c1a7d6b3a0e4f2c9b7a1e8d6f3b


# Configuración de email (Gmail)
EMAIL_USER=cesaraepena@gmail.com
EMAIL_PASS=admin123

# Configuración de CORS
CORS_ORIGIN=http://localhost:4200
